<div class="d-flex flex-row flex-wrap">
  <label class="mx-2">From :</label>
  <select class="form-control mr-3" (change)="timeStringChanged()" [(ngModel)]="fromHours">
    <option *ngFor="let hour of timeOfTheDayOptions[0].hours" [value]="hour">
      {{hour}}
    </option>
  </select>
  <select class="form-control" (change)="timeStringChanged()" [(ngModel)]="fromMinutes">
    <option *ngFor="let minutes of timeOfTheDayOptions[1].minutes">
      {{minutes}}
    </option>
  </select>
  <label class="mx-4">To :</label>
  <select class="form-control mr-3" (change)="timeStringChanged()" [(ngModel)]="toHours">
    <option *ngFor="let hour of timeOfTheDayOptions[0].hours">
      {{hour}}
    </option>
  </select>
  <select class="form-control" (change)="timeStringChanged()" [(ngModel)]="toMinutes">
    <option *ngFor="let minutes of timeOfTheDayOptions[1].minutes">
      {{minutes}}
    </option>
  </select>
</div>
