<div class="container">
<!--<div class="col-md-6 col-md-offset-3">-->
  <h1>Reports</h1>
  <p>You're logged in with JWT!!</p>
  <div>
    Users from secure api end point:
    <ul>
      <li *ngFor="let user of users">{{user.standardInfo.firstName}} {{user.standardInfo.lastName}}</li>
    </ul>
  </div>
  <div class="my-5">
    <app-new-vs-existing-users-graph></app-new-vs-existing-users-graph>
  </div>
  <div class="my-5">
    <app-events-graph></app-events-graph>
  </div>
  <div class="my-5">
    <app-conversion-events-graph></app-conversion-events-graph>
  </div>
</div>

